AI_EN_FR_MODEL_PATH=Helsinki-NLP/opus-mt-en-fr
AI_FR_EN_MODEL_PATH=D:\mdl-translation-models\opus-fr-en\final
AI_NLLB_MODEL_PATH=facebook/nllb-200-distilled-600M
AI_PRELOAD_MODELS=false
AI_MAXIMUM_TEXT_CHARACTERS=20000
AI_TARGET_INPUT_TOKENS=350
AI_MAXIMUM_INPUT_TOKENS=450
AI_DEFAULT_BEAM_SIZE=4
